
/* FLEX LAYOUT GLOBAL CLASSES */
/* Row */
.fl-row {
    @include flex-row();
}
.fl-row-center {
    @include flex-row-center();
}
.fl-row-wrap {
    @include flex-row-wrap();
}
.fl-row-spaced {
    justify-content: space-between;
    align-items: center;
}

/* Column */
.fl-column {
    @include flex-column();
}
.fl-column-center {
    @include flex-column-center();
}


