/* FLEX LAYOUT MIXINS */
/* Row */
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-row-center {
    @include flex-row;
    align-items: center;
}
@mixin flex-row-wrap {
    @include flex-row;
    flex-wrap: wrap;
}

/* Column */
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-column-center {
    @include flex-column;
    align-items: center;
}
