@mixin icon-button-big($color) {
    .mat-icon-button {
        width: 36px;
        height: 36px;
        .mat-icon {
            color: $color;
            font-size: 36px;
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin-top: -5px;
        }
        .mat-button-ripple {
            width: 44px;
            height: 44px;
            top: -4px;
            left: -4px;
            color: $color;
        }
    }
}

@mixin icon-button-medium($color) {
    .mat-icon-button {
        width: 30px;
        height: 30px;
        .mat-icon {
            color: $color;
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-top: -11px;
            .mat-button-ripple {
                width: 42px;
                height: 42px;
                top: -4px;
                left: -4px;
                color: $color;
            }
        }
    }
}

@mixin neutral-posp-card {
    background-color: $alabaster;
    box-shadow: 0px 2px 1px 0px $posp-shadow-neutral;
}

@mixin app-action-card($spacing: false, $header: false, $card-actions: false) {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: rgba(234, 225, 240, 0.5) 0px 5px 20px 0px !important;
    @if $spacing {
        padding: 16px 24px;
        margin: 32px 0;
    }
    @if $header {
        .mat-card-header {
            border-bottom: 2px solid $card-header-line-color;
            margin-bottom: 24px;
        }
        &.no-title {
            padding: 24px 24px 0 24px;
        }        
        .mat-card-header-text {
            margin: 0;
            & .mat-card-title {
                font-style: normal;
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 22px;
                color: $waterloo;    
                &.uppercase {
                    text-transform: uppercase;
                }
            }
        }
    }
    @if $card-actions {
        .mat-card-actions {
            margin: 0;
            padding: 0;
            margin-left: -24px;
            margin-right: -24px;
            margin-bottom: -16px !important;
            .app-wrap-buttons {
                text-align: left;
                button {
                    height: 45px;
                    font-size: 16px;
                    border-radius: 4px 16px;
                    padding: 0 20px;
                }
                &.align-center {
                    text-align: center;
                    padding-bottom: 8px;
                    button {
                        border-radius: 16px;
                        &.big {
                            height: 56px;
                            font-size: 20px;
                            border-radius: 16px;
                            padding: 0 24px;
                            margin-bottom: 8px;
                        }
                    }
                }
                &.align-right {
                    text-align: right;
                    button {
                        border-radius: 16px 4px;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes gradient-animation {
    0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 200% 0%;
	}
}
@keyframes gradient-animation {
    0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 200% 0%;
	}
}

@mixin gradient-background {
    background-size: 200% 100%;
    -webkit-animation: gradient-animation 3s linear infinite;
            animation: gradient-animation 3s linear infinite;
    background-position: 0% 0%;
    background-repeat: repeat-x;
}

@mixin gradient-background-course-card {
    background: linear-gradient(270deg, #a9a2cb3b, #fcfcfc, #a9a2cb3b);    
    @include gradient-background;
}

@mixin gradient-background-lexeme-card {
    background: linear-gradient(270deg, $snuff, #bfb8df, $snuff);
    @include gradient-background;
}

@mixin bg-facebook-connect-button {
    background-image: url('~src/assets/images/social/btn_facebook_signin.png');
}
@mixin bg-google-connect-button {
    background-image: url('~src/assets/images/social/btn_google_signin.png');
}

@mixin url-flag($abr) {
    background-image: url('~src/assets/images/flags/language_' + $abr + '.png');
}

@mixin form-field-outline {
    &.mat-focused {
        .mat-form-field-outline-start, .mat-form-field-outline-end {
            transition: unset;
        }
    }
    .mat-form-field-outline-start, .mat-form-field-outline-end {
        border-width: 2px;
        transition: unset;
    }
    .mat-form-field-prefix {
        margin-right: 12px;
        top: 6px;    
    }
    .mat-form-field-infix {
        border-top: 8px solid transparent;
    }
}

@mixin form-field-outline-black {
    @include form-field-outline;
    .mat-form-field-outline-start, .mat-form-field-outline-end {
        border-color: $form-field-black;
    }
}

@mixin form-field {
    &.mat-focused {
        .mat-form-field-underline {
            height: 2px;
        }
    }
    .mat-form-field-underline {
        height: 2px;
        background-color: $form-field-inactive;
    }
    .mat-form-field-prefix {
        margin-right: 12px;
        top: 6px;    
    }
}

@mixin form-field-black {
    @include form-field;
    &.mat-focused {
        .mat-form-field-underline, .mat-form-field-ripple {
            background-color: $form-field-black;
        }
    }
    .mat-form-field-underline {
        background-color: $form-field-inactive;
    }
}
