@import '~@angular/material/theming';
@include mat-core();

$custom-primary-color: (
    50 : #f5f4f9,
    100 : #e5e3ef,
    200 : #d4d1e5,
    300 : #c3bedb,
    400 : #b6b0d3,
    500 : #a9a2cb,
    600 : #a29ac6,
    700 : #9890be,
    800 : #8f86b8,
    900 : #7e75ac,
    A100 : #ffffff,
    A200 : #faf9ff,
    A400 : #d0c6ff,
    A700 : #bbadff,
    contrast: (
        50 : #FBFBFB,
        100 : #FBFBFB,
        200 : #FBFBFB,
        300 : #FBFBFB,
        400 : #FBFBFB,
        500 : #FBFBFB,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-accent-color: (
    50 : #fcf6f8,
    100 : #f7e7ee,
    200 : #f2d8e3,
    300 : #edc8d8,
    400 : #e9bccf,
    500 : #e5b0c7,
    600 : #e2a9c1,
    700 : #dea0ba,
    800 : #da97b3,
    900 : #d387a6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffcfd,
    A700 : #ffe2ee,
    contrast: (
        50 : #FBFBFB,
        100 : #FBFBFB,
        200 : #FBFBFB,
        300 : #FBFBFB,
        400 : #FBFBFB,
        500 : #FBFBFB,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// A primary palette: colors most widely used across all screens and components.
$app-primary: mat-palette($custom-primary-color);

// An accent palette: colors used for the floating action button and interactive elements.
$app-accent: mat-palette($custom-accent-color, 500, 900, A100);

// A warn palette: colors used to convey error state.
$app-warn: mat-palette($mat-deep-orange);

// A foreground palette: colors for text and icons.
// ...

// A background palette: colors used for element backgrounds.
// ...

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$primary: mat-color($app-primary);      // #a9a2cb Logan
$accent: mat-color($app-accent);        // #e5b0c7 Melanie
$warn: mat-color($app-warn);            // 

$snuff: #EAE1F0;              // Secondary color: Sidebar, landing page background; Lines, progress box; Default sentence background
$prelude: #DAC3E3;            // Complementary color: Boxes when primary color is background; Progress bar filled part
$prelude-lighter: #dac3e34a;
$bubble-berry: rgba(234, 169, 203);
$bubble-berry-dark: rgb(218, 143, 182);

$london-hue: #B89BC7;         // Additional color: icons, word input border
$shamrock: #39C488;           // Additional color: success
$malibu: #69C2FA;             // Call-to-action color

$alabaster: #FBFBFB;          // Background color

$baltic-sea: #2F2D30;         // Text color
$waterloo: #807A99;           // Text color
$salt-box: #666169;           // Text color
$salt-box-lighter: #6661698f;
$mountain-mist: #9A919E;      // Text color
$grey-text: #9E97A1;          // Text color similar to mountain-mist

$posp-noun: #BBDEFB;
$posp-shadow-noun: #8CC5FA;
$posp-dark-noun: #6189AD;       // #7EB1E0, #6F9DC7, #6189AD, #537494 // dark shades of the shadow color (lighter-darker)
$posp-verb: #FBBCC5;
$posp-shadow-verb: #FC909D;
$posp-dark-verb: #C9737D;       // #E3818D, #C9737D, #B0646D, #96565D
$posp-adj: #B8F2C9;
$posp-shadow-adj: #4AC76D;
$posp-dark-adj: #40AD5F;        // #40AD5F, #379451
$posp-pron: #BCC2FB;
$posp-shadow-pron: #8C95FA;
$posp-dark-pron: #6F77C7;       // #7E86E0, #6F77C7, #6167AD, #535894
$posp-adv: #FBBCE2;
$posp-shadow-adv: #FC8DCE;
$posp-dark-adv: #C971A5;        // #E37FB9, #C971A5, #B06390, #96547B
$posp-num: #FBF5BC;
$posp-shadow-num: #DED254;
$posp-dark-num: #ABA241;    // #C4BA4B, #ABA241, #918A37, #78722E
$posp-prep: #FFD6B9;
$posp-shadow-prep: #FABD8C;
$posp-dark-prep: #C7976F;       // #E0AA7E, #C7976F, #AD8361, #947053
$posp-intrj: #CABFFB;
$posp-shadow-intrj: #A088F7;
$posp-dark-intrj: #7F6CC4;      // #907ADE, #7F6CC4, #6F5EAB, #5E5091

$posp-neutral: rgb(182, 182, 182);
$posp-shadow-neutral: rgba(0, 0, 0, 0.14);
$posp-dark-neutral: #9f9f9f;

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&display=swap");

$font-headings: 'Montserrat', sans-serif;
$font-main: 'Baloo Da 2', cursive;
$font-logo: 'Montserrat', sans-serif;

$form-field-black: #212121;
$form-field-inactive: #0000001f;

$card-header-line-color: rgba(234, 225, 240, 0.73);

// Feed/ Correction colours
$correct-color: rgb(134, 235, 137);
$corrected-color: rgb(251, 198, 130);
$incorrect-color: rgb(240, 72, 72);
