// Header bar
$header-height: 80px;
$logo-mini-sidenav-offset: 14px;

// Sidenav
$sidenav-width: 390px;
$sidenav-panel-width: 314px;
$sidenav-mini-width: 76px;

// Content
$content-padding: 0px 32px;

// Subs
$lexeme-sub-nudge-width: 20px;
$lexeme-sub-space-width: 20px;

// Feed component
$lexeme-nav-width: 48px;

// Cards
$lexeme-card-width: 200px;
$lexeme-card-height: 280px;

// Landing
$search-section-spacing: 113px;
